<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title id="brand"></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="static/assets/i/favicon.png">
  <link rel="stylesheet" href="static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="static/assets/css/app.css"/>
</head>
<body>
<header class="am-g my-head">
  <div class="col-sm-12 am-article">
    <h1 class="am-article-title" id="title"></h1>
    <p class="am-article-meta" id="time"></p>
  </div>
</header>
<hr class="am-article-divider"/>
<div class="am-container">
  <div class="col-md-8 col-md-push-3">
    <div class="am-g">
      <div class="col-sm-12 col-sm-centered">
         <div id="from"></div>
        <div class="am-cf am-article" id="content">
           <!-- content -->
        </div>
        <hr/>      
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-pull-9 my-sidebar">
    <div class="am-offcanvas" id="sidebar">
      <div class="am-offcanvas-bar">     
        <ul class="am-nav" id="links">
           <li class="am-nav-header">文章目录</li>
          <!-- title link -->
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="my-footer">
   <p>每日阅读<br><small>© Copyright  by nicksite.</small></p>
</footer>
<script type="text/javascript" src="static/plus/jquery.min.js"></script>
  <script type="text/javascript" src="static/plus/underscore.min.js"></script>
  <script type="text/javascript" src="static/plus/backbone.min.js"></script>
  <script type="text/javascript" src="static/plus/app.js"></script>
</body>
</html>