<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title id="brand"></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="static/assets/i/favicon.png">
  <link rel="stylesheet" href="static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="static/assets/css/app.css"/>
  <style type="text/css">
  ul li{
    list-style-type: none;
  }
  .my-footer{
    text-align: left;
    font-size: 1em;
    line-height: 2em;
  }
  </style>
</head>
<body>
<header>
<div class="am-g my-head">
 <h1 class="am-article-title" id="title"></h1>
  <p class="am-article-meta" id="time"></p>  
</div>
</header>
<hr class="am-article-divider">
<div class="am-container">
  <div class="col-md-8 col-md-offset-2">
    <div class="am-g">
      <div class="col-sm-12 col-sm-centered">  
        <div class="am-cf am-article" id="content">
           <!-- content --> 
        </div>
         <div id="from"></div>   
        <hr/>      
      </div>
    </div>
  </div>
</div>
<footer class="my-footer">
<div class="am-container">
 <div class="col-md-7 col-md-offset-2">
     <h5 class="">今日阅读</h5>    
      <ul class="" id="links"> 
        <!-- title link -->
      </ul>
  </div> 

  <p><a href="/">每日阅读</a><br>© Copyright  by nicksite.</p>
  </div>
</footer>
<script type="text/javascript" src="static/plus/jquery.min.js"></script>
  <script type="text/javascript" src="static/plus/underscore.min.js"></script>
  <script type="text/javascript" src="static/plus/backbone.min.js"></script>
  <script type="text/javascript" src="static/plus/app_v2.js"></script>

</body>
</html>